@keyframes show {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes toasted {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
