.toggle-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: var(--panel);
  display: block;
  border-radius: 25px;
  position: relative;
}

label::after {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: 22px;
  height: 22px;
  background: var(--switch);
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label {
  background: var(--panel);
}

input:checked + label::after {
  left: calc(100% - 1.5px);
  transform: translateX(-100%);
}

label:active::after {
  width: 18px;
}
